.header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px !important;
  background-color: #333 !important;
  width: 100% !important;
  height: 70px !important;
}

.logo img {
  width: 50px !important;
  margin-bottom: 50px !important;
}

.nav-menu {
  display: flex !important;
  align-items: center !important; 
  margin-right: -150px !important;
}

.nav-menu a {
  margin: 0 15px !important;
  color: white !important;
  text-decoration: none !important;
  padding: 10px!important;
  font-size: 16px !important;
}

.nav-menu .active {
  font-weight: bold !important;
  color: rgb(255, 225, 0) !important;
  border-bottom: 2px solid rgb(255, 234, 0) !important;
}

.auth-buttons {
  display: flex !important;
  align-items: center !important;
}

.login-button {
  padding: 10px 20px !important;
  margin-left: -40px !important;
  border: none !important;
  cursor: pointer !important;
  width: 100px !important;
  background-color: red !important;
  color: white !important;
}

.signup-button {
  padding: 10px 20px !important;
  margin-left: 10px !important;
  border: none !important;
  cursor: pointer !important;
  background-color: orange !important;
  color: white !important;
  margin-right: 80px !important;
}

.logout-button {
  margin-right: 80px !important;
}

.icon {
  width: 20px !important;
  height: 30px !important;
  color: white !important;
}

.header-icons {
  display: flex !important;
  margin-right: -280px !important;
}

.icon:hover {
  color: rgb(255, 213, 0) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
