.food-image2 {
    flex: 2;
    text-align: center;
    width: auto; /* Adjust width based on container */
    height: 80vh; /* Let height adjust automatically */
    
    padding: 20px; /* Optional: Add padding around the image */
    max-width: 100%; 
    z-index: 1;
}

.food-image2 img {
    width: 740px; /* Let the image take full width of the container */
    height: 755px; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the area nicely */
     /* Adjust spacing from top */
    margin-left: 50px;
    margin-bottom: 770px;
    
}
