.signup-wrapper {
  display: flex;
  height: 100vh !important;
  width: 1600px !important;
  background-color: #FFD700;
  overflow: hidden;
}

.image-section {
  flex: 0.65; 
}

.food-photo {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.form-section {
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 20px;
  border-radius: 30px;
  padding: 3rem;
  width: 50%; 
  height: 70%; 
  max-width: 300px;
  
}
