.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height to fit content */
  width: 100%; /* Make it responsive */
  background-color: #fff;
  border: 10px solid #ffc107; /* Adjust the border size */
  padding: 20px; /* Add some padding for better alignment */
}

.forgot-password-container {
  display: flex;
  align-items: center;
  margin-left: 160px;
  margin-right: 140px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 90px 39px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.forgot-password-content {
  flex: 1;
  padding: 40px;
}

.forgot-password-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.forgot-password-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.email-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: -1px;
  color: black;
}

.continue-button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
}

.continue-button:hover {
  background-color: #555;
}

.forgot-password-image {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center; /* Center the image */
  padding: 20px;
}

.forgot-password-image img {
  width: 450px; /* Adjust the width to fit better */
  margin: 0; /* Remove unnecessary margins */
}
